/* stylelint-disable selector-list-comma-newline-after */

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 140px;
	z-index: 20;
}

a, a:hover {
	text-decoration: none;
}

.img-responsive {
	width: 100%;
}

.logo {
	height: 150px;
	background: white;
}

.logo h1 {
font-size: 16px;
font-family: 'Muli', sans-serif;
font-weight: 200;
}

.logo h3 {
color: #3a332d;
font-size: 36px;
font-family: 'Noto Serif', serif;
font-weight: 700;
font-style: italic;
}

.logo h3 span {
    color: #c2c2c3;
}

.nav {
	background: rgba(255,255,255,0.4);
	width: 100%;
  display: inline-block;
}

h1, h2, h3, h4, h5, h6, a {
font-family: 'Roboto Slab', serif;
}





@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}


.jumbotron {
	background: url("../images/dianaandken.jpg");
	background-size: cover;
	background-position: 0% 0%;
	background-position: 0% 0%;
	margin-top: 50px;
	height: 800px;
	padding: 0;
}


.nav {
	padding: 0 15px;
}

.nav a {
	padding: 5px 15px;
    color: #3a332d;
    font-family: 'Muli', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    float: left;
    background: transparent;
}

.nav a:hover {
	background: white;
}

.nav a.contact {
    float: right;
    display: inline-block;
    background: #3a332e;
    color: white;
    padding: 5px 15px;
    font-weight: light;
}

.footer {
	  background: #ececec;
    height: 200px;
    margin-top: 30px;
}

.footer p {
	font-size: 12px;
	text-align: right;
	margin: 30px 0;
}


.article-head {
font-size: 36px;
font-family: 'Noto Serif', serif;
font-weight: 400;
margin: 0 0 30px 0;
    color: #3a332e;
}

.sub-head {
font-size: 22px;
font-family: 'Muli', sans-serif;
color: #88888a;
margin-bottom: 15px;
}

.read-more {
	font-family: 'Noto Serif', serif;
font-weight: 400;
    color: #3a332e;
}

@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.jumbotron .display-4 {
	    font-size: 25px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.jumbotron .display-4 {
	    font-size: 25px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}
